<template>
  <div class="home">
    <ListDevices msg=""/>
  </div>
</template>

<script>
// @ is an alias to /src
import ListDevices from '@/components/ListDevices.vue'

export default {
  name: 'home',
  components: {
    ListDevices
  },
  mounted(){
    this.$store.commit("setTitle",this.$t('thermostats'))
    this.$store.dispatch("getAllDevices");
  }
}
</script>
