<template>
  <div>
    <div v-if="!updating">
      <div v-if="devices.length">
        <v-list v-if="devices.length" two-line class="darken-2" dark>
          <template v-for="(item, index) in devices">
            <v-list-tile :key="item.title" avatar @click="clickDevice(item)">
              <v-list-tile-avatar>
                <img :src="item.icon">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title>
                  <div v-if="item.status==1" class="caption">{{$t('current_mode')}}: {{$t('modes.normal')}}</div>
                  <div v-if="item.status==0" class="caption">{{$t('current_mode')}}: {{$t('modes.eco')}}</div>
                  <div v-if="item.status==-1" class="caption">{{$t('current_mode')}}: {{$t('modes.off')}}</div>
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <span class="display-1">{{item.value}}˚C</span>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider v-if="index + 1 < devices.length" :key="index"></v-divider>
          </template>
        </v-list>
      </div>
      <p v-else>
          <span class="display-1">{{$t('empty_list')}}</span>
      </p>
    </div>
    <p v-if="updating">
      <v-progress-circular :size="70" :width="7" color="#00be7e" indeterminate></v-progress-circular>
    </p>
  </div>
</template>

<script>
export default {
  name: "ListDevices",
  computed: {
    updating() {
      return this.$store.getters.loadData;
    },
    devices() {
      return this.$store.getters.allDevices;
    }
  },
  methods: {
    clickDevice(item) {
      console.log(item);
      this.$router.push("/device/" + item.id);
    }
  }
};
</script>

<style scoped>
.theme--dark.v-list {
  background: #283237; /* Цвет фона */
  color: #859ba6; /* Цвет текста */
}
</style>
